<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.springframework.org/tags/form">
<html xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/styles/encuesta.css}">
  
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/styles/header.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <title>Encuesta</title>
</head>
<body>
<script>
  $(document).on('click','#mostrarResultados', function() {
  $(formulario).replaceWith($(resultados));
  $(resultados).css("display", "inline-block")
  });
</script>
<header>
  <section class="isologotipo">
    <div class="logo">
      <a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/5/5f/PARQUESNACIONALES.png" alt=""></a>
    </div>
    <div class="brand">
      <h3>Parques nacionales</h3>
      <h4>República Argentina</h4>
    </div>
  </section>

  <section class="navegacion">

    <nav>
      <ul class="links">
        <li><a class="links_navbar" href="Mapa">Mapa</a></li>
        <li><a class="links_navbar" href="encuesta">Encuesta</a></li>
      </ul>
    </nav>
  </section>
</header>
<div id="contenedor_formulario">
  <form id="formulario" method="POST" th:action="@{/encuesta}" th:object="${encuesta}">
    <section class="encabezado_encuesta">
      <h1>Parques nacionales</h1>
      <h3>Responde este cuestionario sobre parques nacionales</h3>
    </section>
    <hr>
    <section class="preguntas_encuesta">
      <label class="pregunta">¿Sabes lo que es un parque nacional?</label>
      <br>
      <div style="width: 100%;display: flex;justify-content: center;">
        <input class="radio_button" type="radio" name="P1" value="Si" th:field="${encuesta.P1}" checked="checked">Si
        <input class="radio_button" type="radio" name="P1" value="No" th:field="${encuesta.P1}">No
      </div>
      <label class="pregunta">¿Conociste algun parque nacional de la República Argentina?</label>
      <br>
      <div style="width: 100%;display: flex;justify-content: center;">
        <input class="radio_button" type="radio" value="Si" name="P2" checked="checked">Si
        <input class="radio_button" type="radio" value="No" name="P2" >No
      </div>
      <label>En caso de que la respuesta haya sido si, ¿cuantos?</label>
      <input style="margin-top: 10px;width: 300px;" th:field="${encuesta.cantidad_Parques}" type="number" min="0">
      <label>¿Con que motivo visita usted los parques nacionales?</label>
      <div class="checkbox">
        <input type="checkbox" name="preferencias" th:field="${encuesta.preferencias}" value="actividad">Para hacer alguna actividad especifica
        <br>
        <input type="checkbox" name="preferencias" th:field="${encuesta.preferencias}" value="animales">Para avistar animales
        <br>
        <input type="checkbox" name="preferencias" th:field="${encuesta.preferencias}" value="fotos">Para tomar fotos
        <br>
        <input type="checkbox" name="preferencias" th:field="${encuesta.preferencias}" value="turismo">Por turismo
      </div>
      <div class="sub">
      <input type="submit" id="submit">
      <input type="button" id="mostrarResultados" value="Ver los Resultados">
      </div>
    </section>
  </form>
</div>
<br>
<table id="resultados" style="display: none;">
  <tr>
    <th>¿Sabe lo que es un parque nacional?</th>
    <th>¿Visitó alguno?</th>
    <th>¿Cuantos?</th>
    <th>¿Con que motivo?</th>
  </tr>
  <tr th:each="encuesta : ${encuestas}">
    <td th:text="${encuesta.P1}"></td>
    <td th:text="${encuesta.P2}"></td>
    <td th:text="${encuesta.cantidad_Parques}"></td>
    <td th:text="${encuesta.preferencias}"></td>
  </tr>
  <!--<tr>
    <td th:text="${encuestas.size()}"></td>
  </tr>
  <progress th:max="${encuestas.size}" th:value="${encuestas}"></progress>-->
</table>

</body>
</html>