<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.springframework.org/tags/form">
<html xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/styles/encuesta.css}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/styles/header.css}">
  <title>Encuesta</title>
</head>
<body>
<header>
  <section class="isologotipo">
    <div class="logo">
      <a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/5/5f/PARQUESNACIONALES.png" alt=""></a>
    </div>
    <div class="brand">
      <h3>Parques Nacionales</h3>
      <h4>República Argentina</h4>
    </div>
  </section>

  <section class="navegacion">

    <nav>
      <ul class="links">
        <li><a class="links_navbar" href="Mapa">Mapa</a></li>
        <li><a class="links_navbar" href="encuesta">Encuesta</a></li>
      </ul>
    </nav>
  </section>
</header>
<div id="contenedor_formulario">
  <form method="GET" th:action="@{/guardarEncuesta}" th:object="${encuesta}">
    <section class="encabezado_encuesta">
      <h1>Parques Nacionales</h1>
      <h3>Responde este cuestionario sobre parques nacionales</h3>
    </section>
    <hr>
    <section class="preguntas_encuesta">
      <label class="pregunta">¿Sabes lo que es un Parque Nacional?</label>
      <br>
      <div style="width: 100%;display: flex;justify-content: center;">
        <input class="radio_button" id="Si" type="radio" name="P1" value="true" th:field="${encuesta.P1}">Si
        <input class="radio_button" id="No" type="radio" name="P1" value="false" th:field="${encuesta.P1}">No
      </div>
      <label class="pregunta">¿Conociste algun parque nacional de la República Argentina?</label>
      <br>
      <div style="width: 100%;display: flex;justify-content: center;">
        <input class="radio_button" type="radio" value="true" name="P2">Si
        <input class="radio_button" type="radio" value="false" name="P2">No
      </div>
      <label>En caso de que la respuesta haya sido si, ¿cuantos?</label>
      <input style="margin-top: 10px;width: 300px;" th:field="${encuesta.cantidad_Parques}" type="number" min="0">
      <label>¿Con que motivo visita usted los parques nacionales?</label>
      <div class="checkbox">
        Para hacer alguna actividad especifica<form:checkbox path="preferencias" value="actividad"/>
        <br>
        Para avistar animales<form:checkbox path="preferencias" value="animales"/>
        <br>
        Para tomar fotos<form:checkbox path="preferencias" value="fotos"/>
        <br>
        Por turismo<form:checkbox path="preferencias" value="turismo"/>
      </div>
      <input type="submit">

    </section>
  </form>
</div>

</body>
</html>