<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:form="http://www.springframework.org/tags/form">
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resultados Encuesta</title>
</head>
<body>
<form class="form2">
  <section class="encabezado_encuesta">
    <h1>Parques Nacionales</h1>
    <h3>Resultados del cuestionario sobre parques nacionales</h3>
  </section>
  <div>
    <tr th:each="encuesta : ${encuestas}">
      <td th:text="${encuesta.P1}"></td>
    </tr>
    <p> de los tantos que respondieron esta encuesta saben lo que es un parque nacional</p>
    <br>
    <br>
    <p>tantas personas de los tantos que respondieron esta encuesta estuvieron en un parque nacional</p>
    <br>
    <br>
    <p>El promedio de parques visitados por aquellos que respondieron esta encuesta es: numero</p>
    <br>
    <br>
    <p>En base a las respuestas obtenidas de este encuesta los motivos de visita son:
      <label>Actividades especificas: </label>
      <progress></progress>
      <label>Avistar animales: </label>
      <progress></progress>
      <label>Fotografia: </label>
      <progress></progress>
      <label>Turismo: </label>
      <progress></progress>
    </p>
  </div>
</form>


</body>
</html>